<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CareProTestSuite" >

 	<listeners>
 		<listener class-name="listener.AnnotationTransformer"/>
        <listener class-name="listener.TestListener"/>
 	</listeners>

    <test name="CareProTestCases" group-by-instances="true" preserve-order="true">
        <classes>
            <class name="SignupTest"/>
            <class name="LoginTest"/>
            <class name="ForgotPasswordTest"/>
            <class name="EmailTest"/>
            <class name="SpritualityTest"/>
            <class name="SocialTest"/>
            <class name="DoctorAppointmentTest"/>
            <class name="MedicineScheduleTest"/>
            <class name="VitalSignsTest"/>
            <class name="NoteTest"/>
            <class name="PhotoTest"/>
            <class name="TestReportTest"/>

        </classes>
    </test>
</suite>